apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-webapp
  labels:
    app: nginx-webapp
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-webapp
  template:
    metadata:
      labels:
        app: nginx-webapp
    spec:
      containers:
        - name: sample-container
          image: 187868012081.dkr.ecr.us-east-1.amazonaws.com/nginx:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "50Mi"
            limits:
              cpu: "200m"
              memory: "100Mi"
          startupProbe:
             httpGet:
                path: /
                port: 8080
             initialDelaySeconds: 30
             failureThreshold: 20
             periodSeconds: 15
          livenessProbe:
              httpGet:
                path: /
                port: 8080
              initialDelaySeconds: 30
              periodSeconds: 15
              failureThreshold: 25
          readinessProbe:
              httpGet:
                path: /
                port: 8080
              initialDelaySeconds: 30
              periodSeconds: 30
              failureThreshold: 4

